.worker-container {
  background-color: #edfbfc;
  background-size: cover;
  min-height: 100vh;
  max-height: 1000px;
  overflow-y: auto;
}

.checkbox {
  width: 16px;
  height: 16px;
  margin-left: 15px;
  color: #12d4ee;
}

.heading-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkslategray;
}
.available {
  color: green;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.not-available {
  color: red;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.checked {
  color: orange;
}