<div class="p-3" [ngClass]="'task-form-container'">
  <div class="form-row">
    <div
      class="form-group col-md-5"
      style="border-width: 2px; border-color: black"
    >
      <h4 class="text-center">Task</h4>
      <div
        *ngFor="let task of tasks"
        class="shadow-sm p-3 mb-2 bg-body rounded"
        [ngClass]="'task-label'"
      >
        <div class="d-flex flex-row justify-content-between">
          <h4>{{ task.taskName }}</h4>
          <div>
            <button
              class="btn btn-outline-dark mr-2"
              (click)="onClickUpdate(task)"
            >
              Update
            </button>
            <button
              class="btn btn-outline-dark ml-2"
              (click)="onDeleteTask(task.taskId)"
            >
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-md-7">
      <div>
        <div [ngClass]="'task-container'">
          <div class="container d-flex flex-row justify-content-center">
            <div class="mt-5 pl-5 pr-5 pb-5 pt-2 w-50" [ngClass]="'task'">
              <h3 class="text-center mb-3">ADD TASK</h3>
              <form #taskForm="ngForm" (ngSubmit)="onAddTask(taskForm)">
                <div class="form-group">
                  <label for="taskName" class="">Task Name</label>
                  <input
                    type="text"
                    name="taskName"
                    id="taskName"
                    class="form-control w-75"
                    placeholder="Enter Your Task Name"
                    ngModel
                  />
                </div>
                <div class="form-group">
                  <label for="organiser" class="">organiser</label>
                  <input
                    type="text"
                    name="organiser"
                    id="organiser"
                    class="form-control w-75"
                    placeholder="Enter organiser"
                    ngModel
                  />
                </div>
                <div class="form-group">
                  <label for="tStartDate" class="">Start Date</label>
                  <input
                    type="date"
                    name="tStartDate"
                    id="tStartDate"
                    class="form-control w-75"
                    placeholder="Enter Start Date"
                    ngModel
                  />
                </div>
                <div class="form-group">
                  <label for="tEndDate" class="">End Date</label>
                  <input
                    type="date"
                    name="tEndDate"
                    id="tEndDate"
                    class="form-control w-75"
                    placeholder="Enter End date"
                    ngModel
                  />
                </div>
                <div class="form-group">
                  <label for="durationDays" class="">durationDays</label>
                  <input
                    type="number"
                    name="durationDays"
                    id="durationDays"
                    class="form-control w-75"
                    placeholder="Enter durationDays"
                    ngModel
                  />
                </div>
                <div class="form-group">
                  <label for="tStatus" class="">Status</label>
                  <select
                    class="form-control"
                    name="tStatus"
                    id="tStatus"
                    ngModel
                  >
                    <option value="INPROGRESS">INPROGRESS</option>
                    <option value="ONHOLD">ONHOLD</option>
                    <option value="COMPLETED">COMPLETED</option>
                    <option value="DEFINED">DEFINED</option>
                  </select>
                </div>
                <div class="">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
