.maintenance {
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #131111;
}

.maintenance-label {
  background-color: transparent;
  margin: 10px;
  padding: 15px;
  border-width: 1px;
  border-left-width: 6px;
  border-top-width: 4px;
  border-radius: 10px;
  border-color: #12d4ee;
  border-style: solid;
}

.maintenance-form-container {
  background-size: cover;
  background-image: linear-gradient(to right, #ffffff 40%, #12d4ee);
}
.label-name {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 400;
}
.input-text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}
